@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  font-family: "Pangolin";
  font-style: normal;
  color: black !important;
}

body {
  /* background-color: rebeccapurple !important; */
}

.picture {
  width: 150px;
}

.userPhoto {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(5, fr);
  gap: 3% 3%;
	border: 2px solid #696989;
  row-gap: 10px;
	padding: 10px;
	width: 400px;
}

.error {

}